.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.prize{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: lightseagreen;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: lightgray;
    
}
.sub{
    height: 300px;
}
.sub h6{
    color: gray;
}
footer{
    text-align: center;
    font-size: 10px;
}